<ul class="list-group">
  <li class="list-group-item active text-center" aria-current="true">Review</li>
  <%= @reviews.each do |review| %>
    <li class="list-group-item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= review.username.capitalize %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Rated - <%= review.rating %> out of 5 <span class="text-muted text-right">rated <%= time_ago_in_words(review.created_at) %> ago</span></h6>
          <p class="card-text"><%= review.comment %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
